<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.yenepay.yenepayflutter">
    <application>
        <activity android:name=".NativePaymentActivity"
            android:exported="true"
            android:enabled="true"
            android:theme="@style/PaymentTheme"/>
        <activity android:name=".NativePaymentResponseActivity"
            android:exported="true"
            android:enabled="true"
            android:theme="@style/PaymentTheme"/>
    </application>
</manifest>
